<!-- ---
layout: wrapper
title: About Me
--- -->

<div class="about-section" id="about-me">
  <h2 class="section-title">About Me</h2>
  <p>Hi! I'm <strong>Sudarsan Srinivasan</strong>, a Mechanical and Product Design Engineer with 3.5+ years of experience in the automotive industry, now pursuing a Master's in Mechanical Engineering at the University of Washington.</p>
  <p>I specialize in <strong>mechanical design</strong> (CAD, DFM/DFA, GD&T, FEA) and integrate cross-disciplinary skills in <strong>mechatronics, robotics, and automation</strong> to build future-ready systems.</p>
  <p>At Bajaj Auto, I led designs across engine systems, structural components, and cost-saving projects. Now, I'm expanding into <strong>robotics and control systems</strong> through research and hands-on projects.</p>
  
</div>