<!-- SECTION 4: Contact-->
<section id="contact" class= "contact-section">
    <h2>Contact</h2>

    <div class="group">
      
        <form action="https://formspree.io/f/mldnrzwq" method="POST">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" required>

            <label for="email">Email</label>
            <input type="email" id="email" name="email" required>

            <label for="message">Message</label>
            <textarea id="message" cols = "30" rows="10" name="message" required></textarea>

            <button type="submit">Send Message</button>
        </form>
    </div>
  </section>

<div id="site-counter" style="display:none;">
  Site visits: <span id="visit-count">...</span>
</div>

<script>
  // Replace 'yoursite.com' with a unique string for your site
  fetch('https://api.countapi.xyz/hit/sudsrini.github.io/visits')
    .then(response => response.json())
    .then(data => {
      document.getElementById('visit-count').textContent = data.value;
    });
</script>