<section id="experience" class="section">
  <h2 class="section-title">Experience</h2>
  <div class="cards">
    {% for post in site.experience %}
      <a href="{{ post.url | relative_url }}" class="card">
        <div class="card-image">
          <img src="{{ post.main-image }}" alt="{{ post.title }} logo">
        </div>
        <div class="card-content">
          <h3 class="card-title">{{ post.title }}</h3>
          <p class="card-description">{{ post.description }}</p>
          <ul class="skill-list">
            {% for skill in post.skills %}
              <li class="skill">{{ skill }}</li>
            {% endfor %}
          </ul>
        </div>
      </a>
    {% endfor %}
  </div>
</section>
