<footer>
    <div class="footer-content">
        <div class="links">
            {% for item in site.data.navigation.main %}
            {% if item.config_key %}
                {% if item.config_key == "resume-url" %}
                    {% assign nav_href = site["resume-url"] %}
                {% else %}
                    {% assign nav_href = site[item.config_key] %}
                {% endif %}
                {% if nav_href contains "://" %}
                    {% assign nav_link = nav_href %}
                {% else %}
                    {% assign nav_link = nav_href | relative_url %}
                {% endif %}
                <a href="{{ nav_link }}" {% if item.external %}target="_blank" rel="noopener noreferrer"{% endif %}>
                    <span>{{ item.label }}</span>
                </a>
            {% else %}
                <a href="{{ item.url | relative_url }}">
                    <span>{{ item.label }}</span>
                </a>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="license">
        <span>
            For any questions or suggestions about my portfolio, feel free to 
            <a class="help" href="mailto:sudsrini@uw.edu">email me here</a>.
        </span>
        <p>
            © 2025 Sudarsan Srinivasan. Built using the FreeToEngineer portfolio template, 
            licensed under <a href="https://creativecommons.org/licenses/by/4.0/?ref=chooser-v1" target="_blank">CC BY 4.0</a>.
        </p>
    </div>
</footer>
