<nav class="navbar">
    <div class="nav-left">
        <a href="/">{{ site.name }}</a>
    </div>

    <div class="nav-right">
        <div class="desktop-nav">
            <a href="/">
                <span>Home</span>
            </a>
            <a href="/about.html">
                <span>About</span>
            </a>
            {% if page.url == "/" %}
                <a href="#experience">
                    <span>Experience</span>
                </a>
                <a href="#projects">
                    <span>Projects</span>
                </a>
            {% else %}
                <a href="/#experience">
                    <span>Experience</span>
                </a>
                <a href="/projects/">
                    <span>Projects</span>
                </a>
            {% endif %}
            <a href="{{ site.resume-url }}" target="_blank" rel="noopener noreferrer">
                <span>Resume</span>
            </a>
        </div>

        <!-- Desktop Theme Toggle -->
        <div class="theme-toggle-container desktop-toggle">
            <span class="toggle-label">Toggle Theme</span>
            <label class="switch">
                <input type="checkbox" id="theme-toggle">
                <span class="slider round"></span>
            </label>
        </div>

        <!-- Mobile Menu Button -->
        <button class="menu-toggle" aria-label="Toggle menu">
            <i class="fa fa-bars fa-2x"></i>
        </button>

        <div class="mobile-nav">
            <a href="/">
                <span>Home</span>
            </a>
            <a href="/about.html">
                <span>About</span>
            </a>
            {% if page.url == "/" %}
                <a href="#experience">
                    <span>Experience</span>
                </a>
                <a href="#projects">
                    <span>Projects</span>
                </a>
            {% else %}
                <a href="/#experience">
                    <span>Experience</span>
                </a>
                <a href="/projects/">
                    <span>Projects</span>
                </a>
            {% endif %}
            <a href="{{ site.resume-url }}" target="_blank" rel="noopener noreferrer">
                <span>Resume</span>
            </a>

            <!-- Mobile Theme Toggle -->
            <div class="theme-toggle-container mobile-toggle">
                <span class="toggle-label">Toggle Theme</span>
                <label class="switch">
                    <input type="checkbox" id="theme-toggle-mobile">
                    <span class="slider round"></span>
                </label>
            </div>
        </div>
    </div>
</nav>
