<!-- SECTION 3: project -->
<section id="projects" class="project-grid-section">
    <div class="grid-container">
        {% assign sorted_projects = site.projects | sort: 'order' %}
        {% for item in sorted_projects %}
    <a href="{{ item.url }}" class="project-link">
        <div class="project-card">
            {% if item['main-image'] contains '/' %}
                {% assign image_path = item['main-image'] %}
            {% else %}
                {% assign folder_path = item.path | split: '/' | slice: 0, 2 | join: '/' %}
                {% assign image_path = '/' | append: folder_path | append: '/' | append: item['main-image'] %}
            {% endif %}
            <img src="{{ image_path }}" alt="{{ item.title }} image">
            <h3 class="project-title">{{ item.title }}</h3>
            <div class="project-skills">
                {% for skill in item.skills %}
                    <span class="skill">{{ skill }}</span>
                {% endfor %}
            </div>
            <p class="project-description">{{ item.description }}</p>
            <button class="read-more">Read more →</button>
        </div>
    </a>
{% endfor %}
    </div>
</section>
