---
layout: wrapper
---

<div class="post-view">
    <div class="summary">
        
       
        <img src="{{ page.main-image }}" alt="{{ page.title }} image">
        
        <div class="title-header">
            <h1>{{page.title}}</h1>
        </div>
        
        <div class="project-description">
            <h2>Project Overview</h2>
            <p>{{ page.description }}</p>
        </div>
        <div class="skills-card">
            <h2>Skills Used</h2> 
            <div class="skills-list">
                {% for skill in page.skills %}
                <span class="skill">{{ skill }}</span>    
                {% endfor %}
            </div>
        </div>
    </div>
      
    <div class="content">
        {{content}}
    </div>
</div>

